.container{
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
    .container-box{
        width: 70%;
        .dropdown{
            display: flex;
            justify-content: flex-end;
            margin-top: 40px;
            button{
                background-color: white;
                border-radius: 15px;
                border: 1px solid black;
                font-weight: bold;
                color: black;
                padding: 5px 10px 5px 10px;
            }
            ul{
                background-color: white;
                li{
                    a{
                        color: black;
                        font-weight: bold;

                    }
                }
            }
            img{
                border-radius: 50%;
                width: 45px;
                margin: 5px;
            }
            
        }
        .disboton{
            width: 100%;
            margin-top: 40px;
            background-color: white;
            border: 1px solid black;
            border-radius: 15px;
            padding: 5px;
            font-weight: bold;
        }
        
        
    }
    .btn-dots {
        background: rgba(211, 217, 225, 0.40);
        border-radius: 15px;
        padding: 10px 20px;
        border: 0px;
        img {
            height: 20px;
        }
        &::after {
            display: none;
        }
    }

    .mcard{
        background: white;
        border: 1px solid black;
    }
    
    .btn-primary {
        background: rgba(211, 217, 225, 0.40);
        border-radius: 15px;
        padding: 10px 20px;
        color: #1C2B55;
        margin-right: 10px;
        border: 0px;
    }
    
    h1 {
        font-size: 24px;
        margin-bottom: 0px;
    }
    
    p {
        margin-bottom: 0px;
        margin-top: 8px;
    }

}
